/* Secciones */
body{
    background-color: #f03022;
}
section section{
    /* background-color: #564f56; */
    background: url(../Imagenes/fondo.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%; 
}

.main{
    /* Nada */
}
header{
    background-color: #3E69FC;
    height: 10vh;
    align-items: center;
    display: flex;

}
footer{
    background-color: black;
    color: white;
    bottom: 0;
    padding-left: 5vh;
}
footer img{
	margin-left: 30px;
	margin-top: 12px;
}
/* / Secciones */
/* Estilos de letra */
h1{
    color: white;
    margin-left: 0px;

}
section p{
    font-size: 20px;
}
/* / Estilos de letra */
/* Cartas */
#carta{
    display: flex; 
    flex-direction: column; 
}
#audio{
    
    width: 35vh;
}
/* /Cartas */
/* Imagenes */
header img{
    max-height: 10vh;
    margin-left: 25vh;
    padding: 0%;

}
#imgmain{
    position: relative;
    display: inline-block;
    height: 60vh;
}
#textomain{
    position: absolute;
    font-family: "Arial Rounded MT Bold";
    left: 35%;
    top: 12%;
    font-size: 50px;
    color:white;
}
#textomain1{
    position: absolute;
    font-family: "Arial Rounded MT Bold";
    left: 35%;
    top: 28%;
    font-size: 45px;
    color:#8AA3FD;
}
/* /Imagenes */

/* Estilos opcionales */
.floatleft{float: left;}
.borde{border-style: solid;}
.borde_rojo{border-style: solid; border-color: red;}
.row{
    /* border-style: solid; */
}
.row div{
    /* border-style: solid;
    border-color:red; */
}
